<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

    <extension point="org.eclipse.emf.ecore.generated_package">
        <!-- @generated test -->
        <package
                uri="http://vitruv.tools/methodologisttemplate/v"
                class="neojoin.models.v.v.VPackage"
                genModel="target/generated-sources/neojoin/ecore/v/test.genmodel"/>
    </extension>

</plugin>
