<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated view_of_view -->
    <package
            uri="http://vitruv.tools/methodologisttemplate/view_of_view"
            class="neojoin.viewtypes.view_of_view.ViewOfViewPackage"
            genModel="target/generated-sources/neojoin/ecore/view_of_view/view_of_view.genmodel"/>
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated vov_model2_identity -->
    <package
            uri="http://vitruv.tools/methodologisttemplate/vov_model2_identity"
            class="neojoin.viewtypes.vov_model2_identity.VovModel2IdentityPackage"
            genModel="target/generated-sources/neojoin/ecore/vov_model2_identity/vov_model2_identity.genmodel"/>
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated vov_model_identity -->
    <package
            uri="http://vitruv.tools/methodologisttemplate/vov_model_identity"
            class="neojoin.viewtypes.vov_model_identity.VovModelIdentityPackage"
            genModel="target/generated-sources/neojoin/ecore/vov_model_identity/vov_model_identity.genmodel"/>
  </extension>

</plugin>
